<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="CustomerService.CustomerService" 
               behaviorConfiguration="MyServiceBehavior">
        
        <endpoint address="" 
                  binding="basicHttpBinding"
                  bindingConfiguration="TransportSecurity" 
                  contract="CustomerService.ICustomerService" />
        
        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />      
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" httpsGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>      
    </behaviors>

    <bindings>
        <basicHttpBinding>
          <binding name="TransportSecurity">
            <security mode="Transport">
              <transport clientCredentialType="None" />
            </security>
          </binding>
        </basicHttpBinding>
    </bindings>          
  </system.serviceModel>
</configuration>